<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyrus Investment co.</title>
</head>
<body>
        <nav style="color: darkred; width: auto">
            <a style="color: darkblue" href="/">Home</a>
            <a href="/web">Kagrar lists</a>
            <a href="/web/kargar_input/">Kargar Input</a>
        </nav>
{% block body %}

{% endblock %}

        <footer style="color: cadetblue">
            <p>
                <h5>
                کلیه حقوق این سایت مربوط به شرکت سرمایه گذاری سیروس می باشد
                </h5>
            </p>
        </footer>

</body>
</html>